In [1]:
import pandas as pd
csv1_file = "201803_citibikenyc_tripdata.csv"
bikenyc032018_df = pd.read_csv(csv1_file)
bikenyc032018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,455,2018-03-01 00:00:03,2018-03-01 00:07:39,405,Washington St & Gansevoort St,40.739323,-74.008119,368,Carmine St & 6 Ave,40.730386,-74.002150,17629,Annual Membership from Citi Bike App,Subscriber,1993.0,1
1,486,2018-03-01 00:00:06,2018-03-01 00:08:12,146,Hudson St & Reade St,40.716250,-74.009106,363,West Thames St,40.708347,-74.017134,31491,Annual Membership,Subscriber,1954.0,1
2,333,2018-03-01 00:00:07,2018-03-01 00:05:41,257,Lispenard St & Broadway,40.719392,-74.002472,361,Allen St & Hester St,40.716059,-73.991908,31991,FREE Bonus Month with Annual Membership,Subscriber,1986.0,1
3,1629,2018-03-01 00:00:21,2018-03-01 00:27:31,3556,24 St & 41 Ave,40.752709,-73.939740,3532,Ditmars Blvd & 19 St,40.781450,-73.918330,18265,Annual Membership,Subscriber,1990.0,1
4,64,2018-03-01 00:00:32,2018-03-01 00:01:37,515,W 43 St & 10 Ave,40.760094,-73.994618,3236,W 42 St & Dyer Ave,40.758985,-73.993800,27697,Annual Membership,Subscriber,1985.0,1

In [2]:
bikenyc032018_df.shape

(976649, 16)

In [3]:
#dates_df = bike_df.sort_values(by='starttime')
#dates_df

In [4]:
#csv2_file = '2013-07 - Citi Bike trip data.csv'
#bike072013_df = pd.read_csv(csv2_file)
#bike072013_df.head()

In [5]:
#bike072013_df.shape

In [6]:
csv3_file = '201803_citibikejc_tripdata.csv'
bikejc032018_df = pd.read_csv(csv3_file)
bikejc032018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,90,2018-03-01 00:04:48,2018-03-01 00:06:18,3273,Manila & 1st,40.721651,-74.042884,3272,Jersey & 3rd,40.723332,-74.045953,29256,Annual Membership from Citi Bike App,Subscriber,1988.0,1
1,202,2018-03-01 00:15:48,2018-03-01 00:19:10,3185,City Hall,40.717733,-74.043845,3270,Jersey & 6th St,40.725289,-74.045572,31847,Annual Membership,Subscriber,1990.0,1
2,237,2018-03-01 00:25:52,2018-03-01 00:29:49,3206,Hilltop,40.731169,-74.057574,3225,Baldwin at Montgomery,40.723659,-74.064194,26247,Annual Membership from Citi Bike App,Subscriber,1988.0,1
3,107,2018-03-01 00:31:51,2018-03-01 00:33:38,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,31675,Join Citi Bike for $14.95/month,Subscriber,1966.0,1
4,442,2018-03-01 00:42:09,2018-03-01 00:49:32,3205,JC Medical Center,40.716540,-74.049638,3214,Essex Light Rail,40.712774,-74.036486,29661,Annual Membership,Subscriber,1984.0,1

In [7]:
bikejc032018_df.shape

(17109, 16)

In [8]:
frames = [bikenyc032018_df, bikejc032018_df]
bike032018_df = pd.concat(frames)

In [9]:
bike032018_df.shape

(993758, 16)

In [10]:
bike032018_df.to_csv('201803_citibike_tripdata.csv', index=False)

In [11]:
#frames = [bike032018_df, bike072013_df]
#citibike_tripdata_df = pd.concat(frames)
#citibike_tripdata_df.to_csv('citibike_tripdata.csv', index=False)

In [12]:
#citibike_tripdata_df.shape

In [13]:
#citibike_tripdata_df.head()

In [14]:
#csv4_file = '2014-03 - Citi Bike trip data.csv'
#bike032014_df = pd.read_csv(csv4_file)
#bike032014_df.head()

In [15]:
#bike032014_df.shape

In [16]:
#csv5_file = '201503-citibike-tripdata.csv'
#bike032015_df = pd.read_csv(csv5_file)
#bike032015_df.head()

In [17]:
#bike032015_df.shape

In [18]:
#csv6_file = '201603-citibike-tripdata.csv'
#bike032016_df = pd.read_csv(csv6_file)
#bike032016_df.head()

In [19]:
#bike032016_df.shape

In [20]:
#csv7_file = '201703-citibike-tripdata.csv'
#bike032017_df = pd.read_csv(csv7_file)
#bike032017_df.head()

In [21]:
#bike032017_df.shape

In [22]:
#csv8_file = '201712-citibike-tripdata.csv'
#bike122017_df = pd.read_csv(csv8_file)
#bike122017_df.head()

In [23]:
#bike122017_df.shape

In [24]:
csv9_file = '201801_citibikejc_tripdata.csv'
bikejc012018_df = pd.read_csv(csv9_file)
bikejc012018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,132,2018-01-01 00:01:46,2018-01-01 00:03:58,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29590,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
1,560,2018-01-01 01:27:17,2018-01-01 01:36:38,3276,Marin Light Rail,40.714584,-74.042817,3269,Brunswick & 6th,40.726012,-74.050389,29613,Annual Membership,Subscriber,1989.0,2
2,294,2018-01-01 01:29:03,2018-01-01 01:33:58,3195,Sip Ave,40.730743,-74.063784,3225,Baldwin at Montgomery,40.723659,-74.064194,31940,Annual Membership - Save 15%,Subscriber,1994.0,1
3,197,2018-01-01 01:59:32,2018-01-01 02:02:49,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,31949,Annual Membership,Subscriber,1964.0,1
4,932,2018-01-01 02:06:18,2018-01-01 02:21:50,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Annual Membership,Subscriber,1992.0,1

In [25]:
bikejc012018_df.shape

(12677, 16)

In [26]:
csv10_file = '201802_citibikejc_tripdata.csv'
bikejc022018_df = pd.read_csv(csv10_file)
bikejc022018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,386,2018-02-01 00:30:21,2018-02-01 00:36:47,3205,JC Medical Center,40.716540,-74.049638,3214,Essex Light Rail,40.712774,-74.036486,29617,Annual Membership,Subscriber,1984.0,1
1,724,2018-02-01 00:59:14,2018-02-01 01:11:19,3225,Baldwin at Montgomery,40.723659,-74.064194,3189,West Side Light Rail,40.714402,-74.088772,29635,Join Citi Bike for $14.95/month,Subscriber,1962.0,1
2,452,2018-02-01 03:50:25,2018-02-01 03:57:57,3280,Astor Place,40.719282,-74.071262,3195,Sip Ave,40.730743,-74.063784,29613,Annual Membership,Subscriber,1960.0,1
3,358,2018-02-01 05:06:52,2018-02-01 05:12:51,3279,Dixon Mills,40.721630,-74.049968,3638,Washington St,40.724294,-74.035483,31779,Join Citi Bike for $14.95/month,Subscriber,1964.0,1
4,218,2018-02-01 05:14:48,2018-02-01 05:18:26,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,29579,Annual Membership,Subscriber,1994.0,1

In [27]:
bikejc022018_df.shape

(15104, 16)

In [28]:
csv11_file = '201801_citibikenyc_tripdata.csv'
bikenyc012018_df = pd.read_csv(csv11_file)
bikenyc012018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,196,2018-01-01 00:01:51,2018-01-01 00:05:07,315,South St & Gouverneur Ln,40.703554,-74.006702,259,South St & Whitehall St,40.701221,-74.012342,18534,Annual Membership,Subscriber,1997.0,1
1,207,2018-01-01 00:02:44,2018-01-01 00:06:11,3224,W 13 St & Hudson St,40.739974,-74.005139,470,W 20 St & 8 Ave,40.743453,-74.000040,19651,Annual Membership,Subscriber,1978.0,1
2,613,2018-01-01 00:03:15,2018-01-01 00:13:28,386,Centre St & Worth St,40.714948,-74.002345,2008,Little West St & 1 Pl,40.705693,-74.016777,21678,Annual Membership,Subscriber,1982.0,1
3,375,2018-01-01 00:06:44,2018-01-01 00:12:59,466,W 25 St & 6 Ave,40.743954,-73.991449,325,E 19 St & 3 Ave,40.736245,-73.984738,29822,Annual Membership,Subscriber,1982.0,1
4,402,2018-01-01 00:06:57,2018-01-01 00:13:40,438,St Marks Pl & 1 Ave,40.727791,-73.985649,380,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Annual Membership,Subscriber,1989.0,1

In [29]:
bikenyc012018_df.shape

(718990, 16)

In [31]:
csv12_file = '201802_citibikenyc_tripdata.csv'
bikenyc022018_df = pd.read_csv(csv12_file)
bikenyc022018_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,name_localizedValue0,usertype,birth year,gender
0,509,2018-02-01 00:00:04,2018-02-01 00:08:34,3458,W 55 St & 6 Ave,40.763094,-73.978350,422,W 59 St & 10 Ave,40.770513,-73.988038,30139,Annual Membership,Subscriber,1989.0,1
1,513,2018-02-01 00:00:15,2018-02-01 00:08:49,459,W 20 St & 11 Ave,40.746745,-74.007756,380,W 4 St & 7 Ave S,40.734011,-74.002939,30046,Annual Membership,Subscriber,1989.0,1
2,516,2018-02-01 00:00:16,2018-02-01 00:08:52,459,W 20 St & 11 Ave,40.746745,-74.007756,380,W 4 St & 7 Ave S,40.734011,-74.002939,31062,Annual Membership,Subscriber,1990.0,1
3,196,2018-02-01 00:00:16,2018-02-01 00:03:32,3318,2 Ave & E 96 St,40.783964,-73.947167,3351,E 102 St & 1 Ave,40.786995,-73.941648,32204,Annual Membership,Subscriber,1958.0,2
4,491,2018-02-01 00:00:20,2018-02-01 00:08:31,499,Broadway & W 60 St,40.769155,-73.981918,3167,Amsterdam Ave & W 73 St,40.779668,-73.980930,15907,$25 Off Annual Membership,Subscriber,NaN,0

In [32]:
bikenyc022018_df.shape

(843104, 16)

In [33]:
frames = [bikenyc012018_df, bikejc012018_df]
bike012018_df = pd.concat(frames)

In [34]:
bike012018_df.shape

(731667, 16)

In [35]:
bike012018_df.to_csv('201801_citibike_tripdata.csv', index=False)

In [36]:
frames = [bikenyc022018_df, bikejc022018_df]
bike022018_df = pd.concat(frames)

In [37]:
bike022018_df.shape

(858208, 16)

In [38]:
bike022018_df.to_csv('201802_citibike_tripdata.csv', index=False)

In [39]:
frames = [bikenyc012018_df, bikejc012018_df, bikenyc022018_df, bikejc022018_df, bikenyc032018_df, bikejc032018_df]
bike2018_df = pd.concat(frames)

In [40]:
bike2018_df.to_csv('2018_citibike_tripdata.csv', index=False)